books{color:purple;background-color:orange;width:100%}

heading{
color:white;
font-size:40px;
background-color:purple;
}

heading,title,author,publisher{
display:block;
}

title{
font-size:25px;font-weight:bold;
}
